@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@font-face {
    font-family: "Manrope";
    src: url(./polices/Manrope-VariableFont_wght.ttf);
}

/* L'étoile donne du style a tout les éléments
* {
    margin: 0;
    padding: 0;
} */

body {
    font-family: "Manrope", Verdana;
    background: url(./img/08.JPG) center/cover;
    /* VH = 100% de la taille de lecran de lutilisateur (viewport height) */
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /* Les tailles de polices doivent être en REM  */
    font-size: 2.5rem;  
    text-shadow: 3px 3px 8px #00000042;  
    color: pink;
    font-family: 'Oswald', sans-serif;
}
/* 1REM = 16px */

/* Faire une belle boite */
main {
    min-height: 500px;
    width: 90%;
    background: rgba(213, 201, 201, 0.9);
    /* Centrer une boite */
    margin: 0 auto;
    border: 2px solid rgb(89, 148, 200);
    border-radius: 20px 0 20px 0;
    box-shadow: 0px 0px 20px 4px rgb(122, 175, 225);
    padding: 15px;
}

h2 {
    margin: 0;
}

.flexbox, .grid {
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

/* FLEXBOX */
/* Sert a repartir équitablement des éléments sur la page */

.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: turquoise;
    /* Centrer un unique élément verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GRID  */

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid img {
    width: 80%;
    margin-top: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "i1 i2"
    "ta ta"
    "vi bt";
}

input, textarea {
    margin: 5px;
    border: 1px solid darkblue;
    padding: 10px;
    font-size: 1.1rem;
    font-family: "Manrope";
    border-radius: 5px;
}

textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
}

#btn-submit {
    grid-area: bt;
    cursor: pointer;
    background: skyblue;
    transition: 0.2s;
}

#btn-submit:hover {
    background: rgb(46, 46, 213);
    color: white;
}